services:
  web:
    build: .
    ports:
      - "5000:80" # .NET genelde içeride 80 veya 5000 portunu kullanır
    environment:
      - ASPNETCORE_ENVIRONMENT=Development
      - ConnectionStrings__DefaultConnection=Host=db;Database=proxan_db;Username=postgres;Password=1234
    depends_on:
      - db

  # Eğer Python tabanlı bir worker kullanıyorsan (testler için):
  worker:
    build: .
    command: python3 -m celery -A tests.worker worker --loglevel=info
    depends_on:
      - redis