services:
  db:
    image: postgres:15
    container_name: proxan_db_container
    environment:
      - POSTGRES_USER=postgres
      - POSTGRES_PASSWORD=1234
      - POSTGRES_DB=proxan_db
    ports:
      - "5432:5432"

  redis:
    image: redis:7-alpine
    container_name: proxan_redis_container
    ports:
      - "6379:6379"

  web:
    build: .
    container_name: proxan_api_container
    ports:
      - "5000:8080" # .NET 10 içeride 8080'de çalışır, dışarıya 5000 olarak açarız
    environment:
      - ASPNETCORE_ENVIRONMENT=Development
      # Docker ağında 'db' ismini kullanarak Postgres'e bağlanır
      - ConnectionStrings__DefaultConnection=Host=db;Database=proxan_db;Username=postgres;Password=1234
    depends_on:
      - db

  worker:
    build: .
    container_name: proxan_worker_container
    # Celery'nin senin ProxanReservation klasöründeki worker'ı bulmasını sağlar
    command: python3 -m celery -A tests.worker worker --loglevel=info
    environment:
      - CELERY_BROKER_URL=redis://redis:6379/0
      - DATABASE_URL=postgresql://postgres:1234@db:5432/proxan_db
      - PYTHONPATH=.
    depends_on:
      - redis
      - db